server:
  port: ${BOOKING_SERVICE_PORT}
  servlet:
    context-path: ${BOOKING_SERVICE_CONTEXT_PATH}

eureka:
  client:
    serviceUrl:
      defaultZone: http://discovery-service:8761/eureka/
    registerWithEureka: true
    fetchRegistry: true
  instance:
    preferIpAddress: true
    hostname: ${HOSTNAME:localhost}

spring:
  application:
    name: ${BOOKING_SERVICE_NAME}
  datasource:
    driver-class-name: ${DB_DRIVER}
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: ${JPA_HIBERNATE_DDL_AUTO}
    database: ${JPA_DATABASE}
    database-platform: ${JPA_DATABASE_PLATFORM}
    show-sql: ${JPA_SHOW_SQL}

management:
  tracing:
    sampling:
      probability: ${BOOKING_SERVICE_MANAGEMENT_TRACING_SAMPLING_PROBABILITY}

feign:
  client:
    config:
      default:
        follow-redirects: ${BOOKING_SERVICE_FEIGN_FOLLOW_REDIRECTS}
        connectTimeout: ${BOOKING_SERVICE_FEIGN_CONNECT_TIMEOUT}
        readTimeout: ${BOOKING_SERVICE_FEIGN_READ_TIMEOUT}
        loggerLevel: ${BOOKING_SERVICE_FEIGN_LOGGER_LEVEL}

jwt:
  signerKey: ${USER_SERVICE_JWT_SIGNER_KEY}
