server:
  port: 1902
  servlet:
    context-path: /booking-service
spring:
  application:
    name: booking-service
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/tourdb
    username: postgres
    password: postgres_password
  jpa:
    hibernate:
      ddl-auto: update
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
management:
  tracing:
    sampling:
      probability: 1.0
feign:
  client:
    config:
      default:
        follow-redirects: false
        connectTimeout: 5000
        readTimeout: 5000
        loggerLevel: basic