server:
  port: ${BOOKING_SERVICE_PORT:1902}
  servlet:
    context-path: ${BOOKING_SERVICE_CONTEXT_PATH:/booking-service}

spring:
  application:
    name: ${BOOKING_SERVICE_NAME:booking-service}
  datasource:
    driver-class-name: ${BOOKING_SERVICE_DB_DRIVER:org.postgresql.Driver}
    url: ${BOOKING_SERVICE_DB_URL:jdbc:postgresql://localhost:5432/tourdb}
    username: ${BOOKING_SERVICE_DB_USERNAME:postgres}
    password: ${BOOKING_SERVICE_DB_PASSWORD:postgres_password}
  jpa:
    hibernate:
      ddl-auto: ${BOOKING_SERVICE_JPA_HIBERNATE_DDL_AUTO:update}
    database: ${BOOKING_SERVICE_JPA_DATABASE:postgresql}
    database-platform: ${BOOKING_SERVICE_JPA_DATABASE_PLATFORM:org.hibernate.dialect.PostgreSQLDialect}

management:
  tracing:
    sampling:
      probability: ${BOOKING_SERVICE_MANAGEMENT_TRACING_SAMPLING_PROBABILITY:1.0}

feign:
  client:
    config:
      default:
        follow-redirects: ${BOOKING_SERVICE_FEIGN_FOLLOW_REDIRECTS:false}
        connectTimeout: ${BOOKING_SERVICE_FEIGN_CONNECT_TIMEOUT:5000}
        readTimeout: ${BOOKING_SERVICE_FEIGN_READ_TIMEOUT:5000}
        loggerLevel: ${BOOKING_SERVICE_FEIGN_LOGGER_LEVEL:basic}
