server:
  port: 1902
  servlet:
    context-path: /booking-service
spring:
  application:
    name: booking-service
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://ep-little-block-a1gvm7lg-pooler.ap-southeast-1.aws.neon.tech:5432/tourdb?sslmode=require
    username: zy
    password: npg_VeClRkTZ28fS
  jpa:
    hibernate:
      ddl-auto: update
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
management:
  tracing:
    sampling:
      probability: 1.0
feign:
  client:
    config:
      default:
        follow-redirects: false
        connectTimeout: 5000
        readTimeout: 5000
        loggerLevel: basic