version: '3.8'

services:
  discovery-service:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: discovery-service
    ports:
      - "8761:8761" # Eureka Server
    restart: always

  gateway-service:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: gateway-service
    ports:
      - "8080:8080"
    depends_on:
      - discovery-service
    restart: always

  user-service:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: user-service
    ports:
      - "5723:5723"
    depends_on:
      - discovery-service
      - redis
    restart: always

  booking-service:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: booking-service
    ports:
      - "1902:1902"
    depends_on:
      - discovery-service
      - user-service
    restart: always

  redis:
    image: redis
    container_name: redis-tour-cache
    ports:
      - "6379:6379"
    restart: always
