services:
  discovery-service:
    build:
      context: ..
      dockerfile: docker/Dockerfile
      target: discovery-service
    container_name: discovery-service
    env_file:
      - ../.env
    ports:
      - "8761:8761"
    restart: always
    healthcheck:
      test: ["CMD", "curl", "-f", "http://discovery-service:8761/eureka/apps/"]
      interval: 30s
      timeout: 10s
      retries: 5
    networks:
      - my-network

  gateway-service:
    build:
      context: ..
      dockerfile: docker/Dockerfile
      target: gateway-service
    container_name: gateway-service
    env_file:
      - ../.env
    ports:
      - "8080:8080"
    depends_on:
      discovery-service:
        condition: service_healthy
    restart: always
    networks:
      - my-network

  user-service:
    build:
      context: ..
      dockerfile: docker/Dockerfile
      target: user-service
    container_name: user-service
    env_file:
      - ../.env
    ports:
      - "5723:5723"
    depends_on:
      discovery-service:
        condition: service_healthy
    restart: always
    networks:
      - my-network

  booking-service:
    build:
      context: ..
      dockerfile: docker/Dockerfile
      target: booking-service
    container_name: booking-service
    env_file:
      - ../.env
    ports:
      - "1902:1902"
    depends_on:
      discovery-service:
        condition: service_healthy
    restart: always
    networks:
      - my-network

  notification-service:
    build:
      context: ..
      dockerfile: docker/Dockerfile
      target: notification-service
    container_name: notification-service
    env_file:
      - ../.env
    ports:
      - "2005:2005"
    depends_on:
      discovery-service:
        condition: service_healthy
    restart: always
    networks:
      - my-network

  redis:
    image: redis
    container_name: redis-tour-cache
    ports:
      - "6379:6379"
    restart: always
    networks:
      - my-network
  nginx:
      image: nginx:latest
      container_name: nginx_proxy
      ports:
         - '80:80'
         - '443:443'
      volumes:
         - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
         - ./nginx/certs:/etc/ssl/certs
      restart: always
      depends_on:
         - gateway-service
      networks:
         - my-network
networks:
  my-network:
    driver: bridge
