services:
  discovery-service:
    build:
      context: ..
      dockerfile: docker/Dockerfile
      target: discovery-service  # Chỉ định stage Discovery Service
    container_name: discovery-service
    hostname: localhost
    env_file:
      - ../.env
    ports:
      - "8761:8761"
    restart: always

  gateway-service:
    build:
      context: ..
      dockerfile: docker/Dockerfile
      target: gateway-service  # Chỉ định stage Gateway Service
    container_name: gateway-service
    env_file:
      - ../.env
    ports:
      - "8080:8080"
    depends_on:
      - discovery-service
    restart: always

  user-service:
    build:
      context: ..
      dockerfile: docker/Dockerfile
      target: user-service  # Chỉ định stage User Service
    container_name: user-service
    env_file:
      - ../.env
    ports:
      - "5723:5723"
    depends_on:
      - discovery-service
      - redis
    restart: always

  booking-service:
    build:
      context: ..
      dockerfile: docker/Dockerfile
      target: booking-service  # Chỉ định stage Booking Service
    container_name: booking-service
    env_file:
      - ../.env
    ports:
      - "1902:1902"
    depends_on:
      - discovery-service
      - user-service
    restart: always

  redis:
    image: redis
    container_name: redis-tour-cache
    ports:
      - "6379:6379"
    restart: always