app:
  swagger-gateway-uri: ${GATEWAY_URI}${GATEWAY_API_PREFIX}${USER_SERVICE_CONTEXT_PATH}
  frontend-domain : ${FULL_DOMAIN}
server:
  port: ${USER_SERVICE_PORT}
  servlet:
    context-path: ${USER_SERVICE_CONTEXT_PATH}
    multipart:
      max-file-size: ${USER_SERVICE_MAX_FILE_SIZE}
      max-request-size: ${USER_SERVICE_MAX_REQUEST_SIZE}

eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_DEFAULT_ZONE}
    registerWithEureka: true
    fetchRegistry: true
  instance:
    preferIpAddress: true
    hostname: ${HOSTNAME:localhost}

spring:
  application:
    name: ${USER_SERVICE_NAME}
  mail:
    host: smtp.gmail.com
    port: 465
    username: ${USER_NAME_MAIL}
    password: ${PASSWORD_MAIL}
    properties:
      mail.smtp.auth: true
      mail.smtp.ssl.enable: true
      mail.smtp.starttls.enable: false


  datasource:
    driver-class-name: ${DB_DRIVER}
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: ${JPA_HIBERNATE_DDL_AUTO}
    database: ${JPA_DATABASE}
    database-platform: ${JPA_DATABASE_PLATFORM}
    show-sql: ${JPA_SHOW_SQL}
  data:
    redis:
      host: ${USER_SERVICE_REDIS_HOST}
      port: ${USER_SERVICE_REDIS_PORT}
      password: ${USER_SERVICE_REDIS_PASSWORD}
      timeout: ${USER_SERVICE_REDIS_TIMEOUT}
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            redirect-uri: ${GATEWAY_URI}${GATEWAY_API_PREFIX}${USER_SERVICE_CONTEXT_PATH}${GOOGLE_REDIRECT_URL}
            scope:
              - email
              - profile
          github:
            client-id: Ov23liumeIJXkXMH4Xy1
            client-secret: eab058a632999418b0e028aea675c0ead9b2f6ff
            redirect-uri: http://localhost:8080/api/v1/user-service/auth/github/callback
        provider:
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
            token-uri: https://oauth2.googleapis.com/token
            user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
          github:
            authorization-uri: https://github.com/login/oauth/authorize
            token-uri: https://github.com/login/oauth/access_token
            user-info-uri: https://api.github.com/user

management:
  tracing:
    sampling:
      probability: ${USER_SERVICE_MANAGEMENT_TRACING_SAMPLING_PROBABILITY}

cloudinary:
  cloud_name: ${USER_SERVICE_CLOUDINARY_CLOUD_NAME}
  api_key: ${USER_SERVICE_CLOUDINARY_API_KEY}
  api_secret: ${USER_SERVICE_CLOUDINARY_API_SECRET}

jwt:
  signerKey: ${USER_SERVICE_JWT_SIGNER_KEY}
  valid-duration: ${USER_SERVICE_JWT_VALID_DURATION}
  refreshable-duration: ${USER_SERVICE_JWT_REFRESHABLE_DURATION}

springdoc:
  api-docs:
    enabled: true
    path: /v3/api-docs
  swagger-ui:
    enabled: true



