server:
  port: 5723
  servlet:
    context-path: /user-service
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
spring:
  application:
    name: user-service
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/tourdb
    username: postgres
    password: postgres_password
  jpa:
    hibernate:
      ddl-auto: update
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
management:
  tracing:
    sampling:
      probability: 1.0

cloudinary:
  cloud_name: dwip7dplu
  api_key: 944366892271352
  api_secret: SGhlTmcznfxn-1T0T8D2BQQOA9Q
