server:
  port: ${USER_SERVICE_PORT}
  servlet:
    context-path: ${USER_SERVICE_CONTEXT_PATH}
    multipart:
      max-file-size: ${USER_SERVICE_MAX_FILE_SIZE}
      max-request-size: ${USER_SERVICE_MAX_REQUEST_SIZE}

spring:
  application:
    name: ${USER_SERVICE_NAME}
  datasource:
    driver-class-name: ${USER_SERVICE_DB_DRIVER}
    url: ${USER_SERVICE_DB_URL}
    username: ${USER_SERVICE_DB_USERNAME}
    password: ${USER_SERVICE_DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: ${USER_SERVICE_JPA_HIBERNATE_DDL_AUTO}
    database: ${USER_SERVICE_JPA_DATABASE}
    database-platform: ${USER_SERVICE_JPA_DATABASE_PLATFORM}
    show-sql: ${USER_SERVICE_JPA_SHOW_SQL}
  data:
    redis:
      host: ${USER_SERVICE_REDIS_HOST}
      port: ${USER_SERVICE_REDIS_PORT}
      password: ${USER_SERVICE_REDIS_PASSWORD}
      timeout: ${USER_SERVICE_REDIS_TIMEOUT}

management:
  tracing:
    sampling:
      probability: ${USER_SERVICE_MANAGEMENT_TRACING_SAMPLING_PROBABILITY}

cloudinary:
  cloud_name: ${USER_SERVICE_CLOUDINARY_CLOUD_NAME}
  api_key: ${USER_SERVICE_CLOUDINARY_API_KEY}
  api_secret: ${USER_SERVICE_CLOUDINARY_API_SECRET}

jwt:
  signerKey: ${USER_SERVICE_JWT_SIGNER_KEY}
  valid-duration: ${USER_SERVICE_JWT_VALID_DURATION}
  refreshable-duration: ${USER_SERVICE_JWT_REFRESHABLE_DURATION}
