server:
  port: ${GATEWAY_SERVICE_PORT:8080}

eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_DEFAULT_ZONE}
    registerWithEureka: true
    fetchRegistry: true
  instance:
    preferIpAddress: true
    hostname: ${HOSTNAME:localhost}

app:
  api-prefix: ${GATEWAY_API_PREFIX}
  user-client-url: ${GATEWAY_IDENTITY_SERVICE_URI}${USER_SERVICE_CONTEXT_PATH}

spring:
  data:
    redis:
      host: ${USER_SERVICE_REDIS_HOST}
      port: ${USER_SERVICE_REDIS_PORT}
      password: ${USER_SERVICE_REDIS_PASSWORD}
      timeout: ${USER_SERVICE_REDIS_TIMEOUT}

  application:
    name: ${GATEWAY_SERVICE_NAME}
  cloud:
    gateway:
      httpclient:
        response-timeout: 20s
      routes:
        #User service
        - id: identity_service
          uri: ${GATEWAY_IDENTITY_SERVICE_URI}
          predicates:
            - Path=${app.api-prefix}/user-service/**
          filters:
            - StripPrefix=2
            - name: CircuitBreaker
              args:
                name: userService
                fallbackUri: forward:/fallback/user
            - name: RequestRateLimiter
              args:
                redis-rate-limiter.replenishRate: 20 #Hồi 20 request mỗi giây (token/second)
                redis-rate-limiter.burstCapacity: 100 #Cho phép tối đa 100 request bắn một phát
                key-resolver: "#{@ipKeyResolver}"


        #Booking service
        - id: booking_service
          uri: ${GATEWAY_BOOKING_SERVICE_URI}
          predicates:
            - Path=${app.api-prefix}/booking-service/**
          filters:
            - StripPrefix=2
            - name: CircuitBreaker
              args:
                name: bookingService
                fallbackUri: forward:/fallback/booking
        #Notification service
        - id: notification_service
          uri: ${GATEWAY_NOTIFICATION_SERVICE_URI}
          predicates:
            - Path=${app.api-prefix}/notification-service/**
          filters:
            - StripPrefix=2
            - name: CircuitBreaker
              args:
                name: notificationService
                fallbackUri: forward:/fallback/notification


      # Route cho Swagger UI, sử dụng cả hai dịch vụ
        - id: swagger-ui
          uri: http://localhost:${GATEWAY_SERVICE_PORT}
          predicates:
            - Path=/swagger-ui.html

        # Route cho API Docs của user-service qua Gateway
        - id: user-service-docs
          uri: ${GATEWAY_IDENTITY_SERVICE_URI} # Đưa về đúng service gốc
          predicates:
            - Path=${app.api-prefix}/user-service/v3/api-docs
          filters:
            - StripPrefix=2

        # Route cho API Docs của booking-service qua Gateway
        - id: booking-service-docs
          uri: ${GATEWAY_BOOKING_SERVICE_URI}
          predicates:
            - Path=${app.api-prefix}/booking-service/v3/api-docs
          filters:
            - StripPrefix=2
        #notification swagger
        - id: notification-service-docs
          uri: ${GATEWAY_NOTIFICATION_SERVICE_URI}
          predicates:
            - Path=${app.api-prefix}/notification-service/v3/api-docs
          filters:
            - StripPrefix=2


    zookeeper:
      config:
        enabled: ${GATEWAY_ZOOKEEPER_CONFIG_ENABLED:false}
        import-check:
          enabled: ${GATEWAY_ZOOKEEPER_IMPORT_CHECK_ENABLED:false}



#Cấu hình swagger
springdoc:
  api-docs:
    enabled: true
    path: /v3/api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
    urls:
      - name: User Service
        url: /api/v1/user-service/v3/api-docs
      - name: Booking Service
        url: /api/v1/booking-service/v3/api-docs
      - name: Notification Service
        url: /api/v1/notification-service/v3/api-docs

logging:
  level:
    root: INFO
    org.springframework.cloud.gateway: DEBUG
    org.springframework.web.reactive: DEBUG
    reactor.netty: DEBUG
    io.github.resilience4j: DEBUG

resilience4j:
  circuitbreaker:
    instances:
      userService:
        slidingWindowSize: 10
        slowCallDurationThreshold: 5s         # ← Tăng ngưỡng "chậm" lên
        slowCallRateThreshold: 100            # ← Cho phép 100% call chậm vẫn ok
        waitDurationInOpenState: 10s
        permittedNumberOfCallsInHalfOpenState: 3
        failureRateThreshold: 50
        automaticTransitionFromOpenToHalfOpenEnabled: true

      bookingService:
        slidingWindowSize: 10
        slowCallDurationThreshold: 5s         # ← Tăng ngưỡng "chậm" lên
        slowCallRateThreshold: 100            # ← Cho phép 100% call chậm vẫn ok
        waitDurationInOpenState: 10s
        permittedNumberOfCallsInHalfOpenState: 3
        failureRateThreshold: 50
        automaticTransitionFromOpenToHalfOpenEnabled: true
      notificationService:
        slidingWindowSize: 10
        slowCallDurationThreshold: 5s         # ← Tăng ngưỡng "chậm" lên
        slowCallRateThreshold: 100            # ← Cho phép 100% call chậm vẫn ok
        waitDurationInOpenState: 10s
        permittedNumberOfCallsInHalfOpenState: 3
        failureRateThreshold: 50
        automaticTransitionFromOpenToHalfOpenEnabled: true


  timelimiter:
    instances:
      userService:
        timeoutDuration: 6s                   # ← Tăng timeout để sleep 5s vẫn chạy
      bookingService:
        timeoutDuration: 20s
      notificationService:
        timeoutDuration: 20s


