server:
  port: ${GATEWAY_SERVICE_PORT:8080}

eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_DEFAULT_ZONE}
    registerWithEureka: true
    fetchRegistry: true
  instance:
    preferIpAddress: true
    hostname: ${HOSTNAME:localhost}

app:
  api-prefix: ${GATEWAY_API_PREFIX:/api/v1}

spring:
  application:
    name: ${GATEWAY_SERVICE_NAME:api-gateway}
  cloud:
    gateway:
      routes:
        - id: identity_service
          uri: ${GATEWAY_IDENTITY_SERVICE_URI:http://user-service:5723}
          predicates:
            - Path=${app.api-prefix}/user-service/**
          filters:
            - StripPrefix=2
        - id: booking_service
          uri: ${GATEWAY_BOOKING_SERVICE_URI:http://booking-service:1902}
          predicates:
            - Path=${app.api-prefix}/booking-service/**
          filters:
            - StripPrefix=2
    zookeeper:
      config:
        enabled: ${GATEWAY_ZOOKEEPER_CONFIG_ENABLED:false}
        import-check:
          enabled: ${GATEWAY_ZOOKEEPER_IMPORT_CHECK_ENABLED:false}
